<style>
    body {
        background-color: #fbfbfb;
    }

    .card {
        width: 400px;
        border-radius: 10px;
        overflow: hidden;
    }

    .card[loading] .loading {
        display: block;
    }

    .loading {
        display: none;
        position: absolute;
        inset: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .loading .spinner-border {
        position: absolute;
        inset: 0px;
        margin: auto;
    }

    .parent {
        display: flex;
        vertical-align: middle;
        align-items: center;
        width: 100vw;
        height: 100vh;
        justify-content: center;
    }

    form[success] > *:not(.success) {
        display: none;
    }

    form[success] .success {
        display: block;
    }

    .success {
        display: none;
    }
</style>

<div class="parent">
    <div class="card p-4" id="cardLogin">
        <div class="text-center pt-4">
            <h5 class="brand">Boats, Boats, Boats</h5>
            <h5 class="pt-4 pb-2">Account recovery</h5>
            <h6>Reset your Boats account</h6>
        </div>
        <form onsubmit="sendReset(); return false;" id="recoveryForm">
            <div class="form-group mx-sm-3 mb-2 mt-2">
                <label for="inputPassword" class="sr-only">New Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword" class="sr-only">Confirm Password</label>
                <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Password">
            </div>
            <p class="text-danger text-center" id="errorText"></p>
            <div class="row mx-sm-3 flex-nowrap">
                <div class="flex-grow-1 w-auto"></div>
                <button type="submit" class="w-auto btn btn-primary">Reset Password</button>
            </div>
            <div class="success py-2 text-center">
                <p>Your password has been reset</p>
                <a href="/login" class="w-auto btn btn-primary">Login</a>
            </div>
        </form>
        <div class="loading">
            <div class="spinner-border text-primary" role="status"></div>
        </div>
    </div>
</div>

<script>

async function sendReset() {

    if (window.inputPassword.value != window.inputConfirmPassword.value) {
        errorText.innerText = 'Passwords dont match';
        return;
    }

    // Clear error
    errorText.innerText = '';
    cardLogin.setAttribute('loading', 'true');

    try {
        
        let res = await sendRequest('/resetPassword', 'post', {
            code: '{{ code }}',
            password: inputPassword.value
        })

        let data = await res.json();

        if (res.status >= 300 || res.status < 200) {
            // Error
            errorText.innerText = data.message?.message ?? 'Unknown error';
            cardLogin.removeAttribute('loading');
            return;
        }

        recoveryForm.setAttribute('success', true);
    } catch (e) {
        errorText.innerText = e.message;
    }

    cardLogin.removeAttribute('loading');
}
</script>