<h5 class="mb-5">Have you considered?</h5>
<div class="recommendations">
    {{#each recommendations}}
    <div class="recommend" onclick="addToCart('{{this._id}}')">
        <div class="img" style="background-image: url({{ this.imgUrl }})"></div>
        <div class="details">
            <h5 class="card-title">{{ this.name }}</h5>
            <div class="flex-grow-1"></div>
            <span>${{ this.price }}</span>
        </div>
    </div>
    {{/each}}
</div>

<script>

function addToCart(productId) {
    // product id -> quantity mapper
    let cart = JSON.parse(CookiesHelper.readCookie("cart"))

    cart[productId] = 1;

    CookiesHelper.createCookie("cart", JSON.stringify(cart));

    location.reload();
}

</script>